.SideMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-content: center;
}

.Container {
  display: grid;
  gap: 1rem;
  padding-left: 1rem;
}

.Container a {
  text-transform: uppercase;
  text-decoration: none;
  color: #eee;
  font-size: 0.9rem;
  text-shadow: 1px 1px #000;
  cursor: pointer;
  transition: 0.1s;
  padding-left: 0.5rem;
}

.Container a:hover {
  transform: scale(0.98);
}

.Container a:first-child {
  border-left: 0.25rem solid #fff;
  color: #fff;
}
